[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
# JupyterLab packages
jupyterlab = "~=4.2.5"
jupyter_bokeh = "~=4.0.5"
jupyter-resource-usage = "~=1.1.0"
jupyter-server-proxy = "~=4.4.0"
jupyterlab-git = "~=0.50.1"
jupyterlab-lsp = "~=5.1.0"
jupyterlab-widgets = "~=3.0.13"
nbgitpuller = "~=1.2.1"
numpy = "~=1.26.4"
nvitop = "~=1.3.2"

[dev-packages]

[requires]
python_version = "3.11"